# FINAL

Total Points: 300

In [1]:
### RUN THIS CELL
import pandas as pd
import os
import random
import pprint
import re

### Please type your name below as a signature of the CU Boulder Honor Code

>- On my honor, as a University of Colorado Boulder student
 I have neither given nor received unauthorized assistance.

In [ ]:
#Sam Barday

In [ ]:
# HIDDEN TEST, CANNOT ACCESS CELL

### Q1 (10 Points)
>- Type 2 differences between Lambda Functins and a Function you create using `def` (Besides how they are defined)
>- State 1 reaon to use a normal function defined with `def` over a lambda function
>- State 1 reason to use a lambda function over a normal fuction

In [ ]:
#1.Lamdba functions are temporarily defined functions wile def functions are more permanent.
#2.def fucntiuons can be called upon at any time while lambda functions need to be defined each time

#1. regular functions with def can contain multiple expressions and statements in their bodies while lambda functions can only have one. Thus using a def function allows you to accomplish more within one function
#1. Lamda functions can be easier to use than a normal function because they usually reqiuire less lines of code which is why they are sometimes more useful (changing names in dataframes)

In [ ]:
# HIDDEN TEST, CANNOT ACCESS CELL

### Q2 (10 Points)
>- What are 2 Differences between a Pandas Table and a Series?
>- How are series used within a pandas table?
>- What is one method (bestides `.describe()` you can run on a Pandas Table to create a Series?

In [ ]:
#1. A Series is a "1 dimensional" form a data that are usually displayed at a list or dict while pandas dataframes are two dimensional
#2.a pandas table manages sets of series while series only manage intergers, strings, etc.

#1.multiple series can be used in the make up of a Pandas Table. Series contains strings and integers and tables contain those series

#1. you can use .dtypes to make a series

In [ ]:
# HIDDEN TEST, CANNOT ACCESS CELL

### Q3 (30 Points)
>- Create a list called `every_4` that stores every 4th number between 22 and 88 (Including 22 and 88).
>- Create a variable called `list_len` and store the value for how long the length of `every_4` is
>- What is the value for the last element in `every_4`? Store it in a variable called `last` by using list slicing
>- Create a new list from `every_4` that only stores every other element of that list. Call it `every_other_4th`

In [21]:
every_4 = list(range(22,88,4))
print(every_4)

list_len = (len(every_4))
print(list_len)

last = (every_4[-1])
print(last)

every_other_4th = every_4[::2]
print(every_other_4th)

[22, 26, 30, 34, 38, 42, 46, 50, 54, 58, 62, 66, 70, 74, 78, 82, 86]
17
86
[22, 30, 38, 46, 54, 62, 70, 78, 86]

##### DO NOT HAVE ANY CODE FOR Q3UNDER THIS CELL

In [ ]:
# HIDDEN TEST, CANNOT ACCESS CELL

In [ ]:
# HIDDEN TEST, CANNOT ACCESS CELL

In [ ]:
# HIDDEN TEST, CANNOT ACCESS CELL

In [ ]:
# HIDDEN TEST, CANNOT ACCESS CELL

### Q4 (30 Points)
>- Write a function `my_divisor` that accepts two arguments: An upper limit, and a divisor This function will give you all numbers from 0 to your upper limit that are divisible by your divisor.
>- Return all numbers between 0 and 50 that are divisible by 8, store the list in a variable called `div_8`

In [137]:

def my_divisor(n1, n2):
    div_d = []
    div_8 = []
    
    quotient = n1 // n2
    remainder = n1 % n2
    return(quotient, remainder)

    for x in range(n1, n2):
        if x % n2 == 0:
            div_d.append(n1)
            return(div_d)
    for x in range(n1, n2):
        if x % 8 ==0:
            div_8.append(x)
            return(div_8)

    

my_divisor(100,10 )

(10, 0)

##### DO NOT HAVE ANY CODE FOR Q4 UNDER THIS CELL

In [ ]:
# HIDDEN TEST, CANNOT ACCESS CELL

### Q5 (30 Points)
>- RUN THE NEXT CELL BEFORE STARTING QUESTION 5

In [43]:
### RUN THIS CELL BEFORE STARTING Q5
hotels = {"Profit":{"0":119000.0,"1":250000.0,"2":250000.0,"3":145000.0,"4":110000.0,"5":246000.0,"6":54000.0,"7":2000.0,"8":114000.0,"9":47000.0,"10":54000.0,"11":124000.0,"12":125000.0,"13":62000.0,"14":250000.0,"15":24000.0,"16":102000.0,"17":26000.0,"18":85000.0,"19":182000.0,"20":74000.0,"21":5000.0,"22":134000.0,"23":14000.0,"24":84000.0,"25":124000.0,"26":32000.0,"27":250000.0,"28":53000.0,"29":32000.0,"30":63000.0,"31":88000.0,"32":156000.0,"33":138000.0,"34":37000.0,"35":86000.0,"36":17000.0,"37":23000.0,"38":136000.0,"39":129000.0,"40":34000.0,"41":18000.0,"42":137000.0,"43":73000.0,"44":156000.0,"45":21000.0,"46":91000.0,"47":72000.0,"48":101000.0,"49":250000.0},"Price in Millions":{"0":21.88,"1":27.95,"2":16.09,"3":27.58,"4":23.76,"5":22.88,"6":13.25,"7":8.94,"8":24.87,"9":14.11,"10":11.65,"11":17.26,"12":18.45,"13":17.08,"14":19.32,"15":8.48,"16":14.16,"17":13.84,"18":19.59,"19":18.64,"20":8.0,"21":7.84,"22":15.54,"23":6.09,"24":22.4,"25":23.44,"26":17.75,"27":6.73,"28":14.22,"29":17.22,"30":17.97,"31":13.58,"32":19.1,"33":13.09,"34":15.93,"35":19.37,"36":7.87,"37":9.76,"38":22.98,"39":14.15,"40":13.77,"41":7.77,"42":18.12,"43":9.88,"44":24.78,"45":8.69,"46":19.76,"47":13.76,"48":11.87,"49":24.21},"Square Meter":{"0":3938.0,"1":3986.0,"2":2574.0,"3":4155.0,"4":3795.0,"5":2773.0,"6":634.0,"7":82.0,"8":3706.0,"9":1692.0,"10":1989.0,"11":2616.0,"12":3358.0,"13":1941.0,"14":1831.0,"15":800.0,"16":2700.0,"17":1257.0,"18":2644.0,"19":2001.0,"20":1581.0,"21":82.0,"22":2412.0,"23":769.0,"24":3815.0,"25":3122.0,"26":1492.0,"27":525.0,"28":1217.0,"29":1497.0,"30":3101.0,"31":2644.0,"32":3631.0,"33":1461.0,"34":1492.0,"35":2408.0,"36":859.0,"37":703.0,"38":4908.0,"39":2545.0,"40":1847.0,"41":502.0,"42":3478.0,"43":756.0,"44":5099.0,"45":1215.0,"46":3107.0,"47":2375.0,"48":2101.0,"49":4832.0},"City":{"0":"Berlin","1":"Munich","2":"Cologne","3":"Munich","4":"Berlin","5":"Munich","6":"Munich","7":"Munich","8":"Munich","9":"Berlin","10":"Cologne","11":"Berlin","12":"Cologne","13":"Munich","14":"Munich","15":"Berlin","16":"Cologne","17":"Munich","18":"Berlin","19":"Munich","20":"Cologne","21":"Munich","22":"Cologne","23":"Cologne","24":"Berlin","25":"Munich","26":"Munich","27":"Cologne","28":"Munich","29":"Munich","30":"Berlin","31":"Cologne","32":"Cologne","33":"Berlin","34":"Munich","35":"Munich","36":"Cologne","37":"Berlin","38":"Cologne","39":"Cologne","40":"Berlin","41":"Berlin","42":"Cologne","43":"Berlin","44":"Cologne","45":"Cologne","46":"Berlin","47":"Cologne","48":"Cologne","49":"Cologne"}}
hotels = pd.DataFrame(hotels)
hotels.head(3)

     Profit  Price in Millions  Square Meter     City
0  119000.0              21.88        3938.0   Berlin
1  250000.0              27.95        3986.0   Munich
2  250000.0              16.09        2574.0  Cologne

### Q5 (30 Points)
>- How many columns are in `hotels`? Store this value in a variable called `n_cols`
>- How many rows are in `hotels`? Store this value in a variable called `n_rows`
>- What are the descriptive statistics for the `hotels dataframe`? Store this dataframe in a variable called `hotel_summary`
>- How many null values are there in each row? Store this series in a variable called `null_values`

In [114]:
n_cols = hotels.shape[1]

n_rows = hotels.shape[0]

hotel_summary = hotels.describe()
#print(hotel_summary)

null_values = hotels.isnull().sum(axis = 1)
#print(null_values)

##### DO NOT HAVE ANY CODE FOR Q5 UNDER THIS CELL

In [ ]:
# HIDDEN TEST, CANNOT ACCESS CELL

In [ ]:
# HIDDEN TEST, CANNOT ACCESS CELL

In [ ]:
# HIDDEN TEST, CANNOT ACCESS CELL

In [ ]:
# HIDDEN TEST, CANNOT ACCESS CELL

### Q6 (30 Points)
>- Using the `hotels` dataframe, answer the following questions:
>- What is the average Square Meters for hotels? Store this value, rounded to 2 decimal places, in a variable called `avg_square_meter`
>- What is the median Price in Millions? Store this value, rounded to 2 decimal places, in a variable called `median_price`
>- What is the max Profit? Store this value, rounded to 2 decimal places, in a variable called `max_profit`
>- How many distinct cities are there? Store this value in a variable called `n_cities`

>-- HINT: Use `.loc['stuff']` to get the key you want out of a series or dataframe

In [98]:
avg_square_meter = round(hotels['Square Meter'].mean(),2)
print(avg_square_meter)
median_price = round(hotels['Price in Millions'].median(),2)
print(median_price)
max_profit = round(hotels['Profit'].max(),2)
print(max_profit)
n_cities = hotels['City'].nunique()
print(n_cities)

2280.96
16.01
250000.0
3

##### DO NOT HAVE ANY CODE FOR Q6 UNDER THIS CELL

In [ ]:
# HIDDEN TEST, CANNOT ACCESS CELL

In [ ]:
# HIDDEN TEST, CANNOT ACCESS CELL

In [ ]:
# HIDDEN TEST, CANNOT ACCESS CELL

In [ ]:
# HIDDEN TEST, CANNOT ACCESS CELL

### Q7 (30 Points)
>- Using the `hotels` dataframe create a new column named `price_per_meter`, ensure that you convert it so it is not "Price in Millions per meter". 
>>- Also make sure `Price Per Meter` is rounded to 2 decimal places
>- What is the average price per meter by city? Store this series in a variable called `avg_ppm`

In [126]:
hotels['price_per_meter'] = round(hotels['Price in Millions'] * 1000000  // (hotels['Square Meter']),2)
                                  
hotels.head(3)

avg_ppm = round(hotels.groupby('City').price_per_meter.mean(),2)

avg_ppm

City
Berlin      8687.71
Cologne     6239.74
Munich     20889.82
Name: price_per_meter, dtype: float64

##### DO NOT HAVE ANY CODE FOR Q7 UNDER THIS CELL

In [ ]:
# HIDDEN TEST, CANNOT ACCESS CELL

In [ ]:
# HIDDEN TEST, CANNOT ACCESS CELL

### Q8 (40 Points)
>- Using a loop, find the average salary and age of the below people. Store them in a variables called `avg_sal` and `avg_age`
>- What is the average salary per year? (Aka `avg_sal/avg_age`). Round your answer to two decimal places and store it in the variable `avg_sal_per_year`
>- Add a 5th persons row to the `people` dictionary, and ensure they are the `5`th key

In [214]:
people = {
         1: {'name': 'John', 'age': '27', 'job': 'Nurse', 'Salary': 71000},
         2: {'name': 'Marie', 'age': '22', 'job': 'Engineer', 'Salary': 84000},
         3: {'name': 'Luna', 'age': '24', 'job': 'Fighter Pilot', 'Salary': 49000},
         4: {'name': 'Peter', 'age': '29', 'job': 'Researcher', 'Salary': 35000},
            
         }


sals = []
ages = []

for key in people.keys():
    ppl_list = key
    sal = people.get(key).get('Salary')
    sal = int(sal)
    
    sals.append(sal)
    
avg_sal = sum(sals) / len(people)
print(avg_sal)

for key in people.keys():
    ppl_list = key
    age = people.get(key).get('age')
    age = int(age)
    
    ages.append(age)
    
avg_age = sum(ages) / len(people)
print(avg_age)


avg_sal_per_year = round((avg_sal/avg_age),2)
print(avg_sal_per_year)


people[5] = {'name': 'Sam', 'age': '21', 'job': 'Analyst', 'Salary': 55000}

people

59750.0
25.5
2343.14

{1: {'name': 'John', 'age': '27', 'job': 'Nurse', 'Salary': 71000},
 2: {'name': 'Marie', 'age': '22', 'job': 'Engineer', 'Salary': 84000},
 3: {'name': 'Luna', 'age': '24', 'job': 'Fighter Pilot', 'Salary': 49000},
 4: {'name': 'Peter', 'age': '29', 'job': 'Researcher', 'Salary': 35000},
 5: {'name': 'Sam', 'age': '21', 'job': 'Analyst', 'Salary': 55000}}

##### DO NOT HAVE ANY CODE FOR Q8 UNDER THIS CELL

In [ ]:
# HIDDEN TEST, CANNOT ACCESS CELL

In [ ]:
# HIDDEN TEST, CANNOT ACCESS CELL

In [ ]:
# HIDDEN TEST, CANNOT ACCESS CELL

In [ ]:
# HIDDEN TEST, CANNOT ACCESS CELL

### Q9 (40 Points)
>- Load the file `'nyc-jobs.csv'` into a pandas dataframe named `nyc_jobs`

##### LOAD YOUR DATA IN NEXT CELL

In [227]:
os.getcwd()
for file in os.listdir():
    if '.csv' in file:
        print(file)
    elif '.xlsx' in file:
        print(file)
        
nyc_jobs = pd.read_csv('nyc-jobs.csv', index_col = 0)
nyc_jobs.head(3)

nyc-jobs.csv

,Agency,Posting Type,# Of Positions,Business Title,Civil Service Title,Title Code No,Level,Job Category,Full-Time/Part-Time indicator,Salary Range From,...,Additional Information,To Apply,Hours/Shift,Work Location 1,Recruitment Contact,Residency Requirement,Posting Date,Post Until,Posting Updated,Process Date
Job ID,,,,,,,,,,,,,,,,,,,,,
87990,DEPARTMENT OF BUSINESS SERV.,Internal,1,Account Manager,CONTRACT REVIEWER (OFFICE OF L,40563,1,NaN,NaN,42405.00,...,"Salary range for this position is: $42,405 - $...",NaN,NaN,NaN,NaN,New York City residency is generally required ...,2011-06-24T00:00:00.000,NaN,2011-06-24T00:00:00.000,2019-12-17T00:00:00.000
97899,DEPARTMENT OF BUSINESS SERV.,Internal,1,"EXECUTIVE DIRECTOR, BUSINESS DEVELOPMENT",ADMINISTRATIVE BUSINESS PROMOT,10009,M3,NaN,F,60740.00,...,NaN,"In addition to applying through this website, ...",NaN,NaN,NaN,New York City residency is generally required ...,2012-01-26T00:00:00.000,NaN,2012-01-26T00:00:00.000,2019-12-17T00:00:00.000
132292,NYC HOUSING AUTHORITY,External,52,Maintenance Worker - Technical Services-Heatin...,MAINTENANCE WORKER,90698,0,Maintenance & Operations,F,51907.68,...,1. A Motor Vehicle Driverâ€™s License valid i...,"Click the ""Apply Now"" button.",NaN,NaN,NaN,NYCHA has no residency requirements.,2013-10-24T00:00:00.000,NaN,2013-12-12T00:00:00.000,2019-12-17T00:00:00.000

### DO NOT RUN THE NEXT CELL. IT IS FOR ME FOR GRADING PURPOSES

In [ ]:
nyc_jobs = pd.read_csv('/Users/drewwilliams/Desktop/PyClass/2021 Fall/source/FINAL/nyc-jobs.csv')

### CONTINUE Q9 FROM HERE
>- Make a new column named `Fixed Date` that is made from `Posting Date` but removes the `T00:00:00.000`
otherwise
>- Change the Column `Fixed Date` into a date type instead of an Object type
>- Using `.map()` and `lambda` create a new column named `Pay` that is "Good", if the job is level `M3` and "Unknown" otherwise 
>- Create a new dataframe named `nyc_filtered` by filtering the `nyc_jobs` dataframe to only include a `Posting Type` of `Internal` and a `Fixed Date` between the dates `2019-01-01` and `2019-06-30` (Includes both Jan 1 and Jun 30, but not July 1)
>- How many Jobs are in your `nyc_filtered` dataframe? Store the number of jobs in a variable alled `my_jobs`

In [245]:
nyc_jobs['Fixed Date'] = pd.to_datetime(nyc_jobs['Posting Date'])

nyc_jobs['Fixed Date']

nyc_filtered = pd.DataFrame(nyc_jobs['Posting Type'] == 'Internal')
my_jobs = nyc_filtered['Title Code No'].nunqiue()
                                    

nyc_jobs.head(3)

KeyError: 'Title Code No'

##### DO NOT HAVE ANY CODE FOR Q9 UNDER THIS CELL

In [ ]:
# HIDDEN TEST, CANNOT ACCESS CELL

### Q10 (10 Points)
>- Describe some differences between supervised and unsupervised learning.
>- List one examples for when to use supervised ML
>- List one examples for when to use unsupervised ML

In [ ]:
#supervised ML uses prelabeled datasets which train algorithims into classifying data sets or predicting outcomes
#while unsupervised ML is without human intervention that lets algorithims "train" themselves to identify hidden patterns in data sets without any prelabling


#Supervised ML is used for things like house prices, superived ML is given a ton of data like square footage or number of bed/bathrooms in houses to predict the price of a home

#unsupervised ML is used for things like finding marketing customer bases. Unsupervised algorithims will find patterns in things like gender, age, location etc. to determine which customers would be best to market to

### Q11 (10 Points)
>- Describe what an API is
>- What code command do you run to make a request?
>- What code command do you run to make your request into a dictionary?

In [ ]:
#API's are ways for software programs to communicate with one another
#in our case we used it to recieve API data from different software platforms

#request.get(link)

#we can use the response.json() command to turn our request into a dictionary

In [ ]:
# HIDDEN TEST, CANNOT ACCESS CELL
assert True == True

### Q12 (10 Points)
>- Capture Job Title, Salary, and Years of experience from the following string using regex `.search()`
>- Save the groups in the following variables `title`, `salary`, `years`

In [238]:
import re
info = 'Business Analyst Manager, $122,000, 5'

pattern = '\w+\s\w+\s\w+,\s\$\d+,\d+,\s\d+'
capture = '(\w+\s\w+\s\w+),\s(\$\d+,\d+),\s(\d+)'

re.findall(pattern, info)

title = re.search(capture, info).group(1)
salary = re.search(capture, info).group(2)
years =re.search(capture, info).group(3)

print(title)
print(salary)
print(years)

Business Analyst Manager
$122,000
5

##### DO NOT HAVE ANY CODE FOR Q12 UNDER THIS CELL

In [ ]:
# HIDDEN TEST, CANNOT ACCESS CELL