# `pandas` Part 3: Descriptive Analytics with `pandas`

# Learning Objectives
## By the end of this tutorial you will be able to:
1. Understand the three fundamental areas of an analytics project: Descriptive, Predictive, Prescriptive
2. Summarize data using `describe()`
>- Descriptive Analytics is the first layer of a full analytical report and `describe()` gets us started 
3. Transform data with simple calculations

## Files Needed for this lesson: `winemag-data-130k-v2.csv`
>- Download this csv from Canvas prior to the lesson

## The general steps to working with pandas:
1. import pandas as pd
2. Create or load data into a pandas DataFrame or Series
3. Reading data with `pd.read_`
>- Excel files: `pd.read_excel('fileName.xlsx')`
>- Csv files: `pd.read_csv('fileName.csv')`
>- Note: if the file you want to read into your notebook is not in the same folder you can do one of two things:
>>- Move the file you want to read into the same folder/directory as the notebook
>>- Type out the full path into the read function
4. After steps 1-3 you will want to check out your DataFrame
>- Use `shape` to see how many records and columns are in your DataFrame
>- Use `head()` to show the first 5-10 records in your DataFrame

# Analytics Project Framework Notes
## A complete and thorough analytics project will have 3 main areas
1. Descriptive Analytics: tells us what has happened or what is happening. 
>- The focus of this lesson is how to do this in python.
>- Many companies are at this level but not much more than this
>- Descriptive statistics (mean, median, mode, frequencies)
>- Graphical analysis (bar charts, pie charts, histograms, box-plots, etc)
2. Predictive Analytics: tells us what is likely to happen next
>- Less companies are at this level but are slowly getting there
>- Predictive statistics ("machine learning (ML)" using regression, multi-way frequency analysis, etc)
>- Graphical analysis (scatter plots with regression lines, decision trees, etc)
3. Prescriptive Analytics: tells us what to do based on the analysis
>- Synthesis and Report writing: executive summaries, data-based decision making
>- No analysis is complete without a written report with at least an executive summary
>- Communicate results of analysis to both non-technical and technical audiences

# Descriptive Analytics Using `pandas`

# Initial set-up steps
1. import modules and check working directory
2. Read data in
3. Check the data

In [7]:
import os
import pandas as pd

os.getcwd()
for file in os.listdir():
    if '.csv' in file:
        print(file)

winemag-data-130k-v2 (1).csv

#### Note: setting our working directory to a variable named `path` will make accessing files in the directory easier

# Step 2 Read Data Into a DataFrame with `read_csv()`
>- file name: `winemag-data-130k-v2.csv`
>- Set the index to column 0
>- Note: by defining `path` above for our working directory we can then just concatenate our working directory with the file we wish to read in

In [8]:
dat = pd.read_csv('winemag-data-130k-v2 (1).csv', index_col = 0)
dat.head(3)

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm

### Check how many rows, columns, and data points are in the `wine_reviews` DataFrame
>- Use `shape` and indices to define variables
>- We can store the values for rows and columns in variables if we want to access them later

In [9]:
dat.shape

(129971, 13)

### Check a couple of rows of data

In [10]:
dat.head(5)

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

# Descriptive Analytics with `describe()`
>- General syntax: dataFrame.columnName.describe()

### Now, what is/are the question(s) being asked of the data? 
>- All analytics projects start with questions (from you, your boss, some decision maker, etc)

#### For this example...
##### Question: What is the summary information about wine point ratings? 
>- subQ1: What is a baseline/average wine?
>>- What is the average rating?
>>- What is the median rating? 
>- subQ2: What is the range of wine ratings? 
>>- What is the lowest rating? The highest rating? 
>- subQ3: What rating is the lowest for the top 25% of wines?

### The cool thing about learning `python` and in particular `pandas` is you can answer all these with a few lines of code

In [12]:
dat.price.describe()

count    120975.000000
mean         35.363389
std          41.022218
min           4.000000
25%          17.000000
50%          25.000000
75%          42.000000
max        3300.000000
Name: price, dtype: float64

In [13]:
dat.points.describe()

count    129971.000000
mean         88.447138
std           3.039730
min          80.000000
25%          86.000000
50%          88.000000
75%          91.000000
max         100.000000
Name: points, dtype: float64

### Notes on `describe()`
>- `describe()` is "type-aware" which means it will automatically give summary statistics based on the data type of the column
>- In the previous example, `describe()` gave us summary stats based on a numerical column
>- For a string column, we can't calculate a mean, median or standard deviation so we get different output from `describe()`

### Another question to be answered with analytics:
##### What information do we have regarding wine tasters? 
>- subQ1: How many total wine tasters are there? 
>- subQ2: How many total records have a wine taster mapped to them? 
>- subQ3: Who has the most wine tastings? 
>>- How many wine tastings does he or she have?

In [16]:
dat.head(5)
dat.taster_name.describe()

count         103727
unique            19
top       Roger Voss
freq           25514
Name: taster_name, dtype: object

In [17]:
analytics = dat.points.describe()
analytics

count    129971.000000
mean         88.447138
std           3.039730
min          80.000000
25%          86.000000
50%          88.000000
75%          91.000000
max         100.000000
Name: points, dtype: float64

### Notes on the previous output:
>- count gives us the total number of records with non-null taster_name
>- unique gives us the total number of taster_name names
>- top gives us the taster_name with the most records
>- freq gives us the number of records for the top taster_name

# Getting specific summary stats and assigning a variable to them
>- To be able to write our results in a nice executive summary format, assign variables to specific summary stat values

### Assign variables for the mean points

In [19]:
mean_points = analytics['mean']

### Create a list of the wine tasters with `unique()`

In [25]:
list(dat.taster_name.unique())

['Kerin O’Keefe',
 'Roger Voss',
 'Paul Gregutt',
 'Alexander Peartree',
 'Michael Schachner',
 'Anna Lee C. Iijima',
 'Virginie Boone',
 'Matt Kettmann',
 nan,
 'Sean P. Sullivan',
 'Jim Gordon',
 'Joe Czerwinski',
 'Anne Krebiehl\xa0MW',
 'Lauren Buzzeo',
 'Mike DeSimone',
 'Jeff Jenssen',
 'Susan Kostrzewa',
 'Carrie Dykes',
 'Fiona Adams',
 'Christina Pickard']

In [24]:
dat['taster_name'].unique()

array(['Kerin O’Keefe', 'Roger Voss', 'Paul Gregutt',
       'Alexander Peartree', 'Michael Schachner', 'Anna Lee C. Iijima',
       'Virginie Boone', 'Matt Kettmann', nan, 'Sean P. Sullivan',
       'Jim Gordon', 'Joe Czerwinski', 'Anne Krebiehl\xa0MW',
       'Lauren Buzzeo', 'Mike DeSimone', 'Jeff Jenssen',
       'Susan Kostrzewa', 'Carrie Dykes', 'Fiona Adams',
       'Christina Pickard'], dtype=object)

In [28]:
counts = dat.taster_name.value_counts()
type(counts)
counts

Roger Voss            25514
Michael Schachner     15134
Kerin O’Keefe         10776
Virginie Boone         9537
Paul Gregutt           9532
Matt Kettmann          6332
Joe Czerwinski         5147
Sean P. Sullivan       4966
Anna Lee C. Iijima     4415
Jim Gordon             4177
Anne Krebiehl MW       3685
Lauren Buzzeo          1835
Susan Kostrzewa        1085
Mike DeSimone           514
Jeff Jenssen            491
Alexander Peartree      415
Carrie Dykes            139
Fiona Adams              27
Christina Pickard         6
Name: taster_name, dtype: int64

### To see a list of wine tasters and how often they occur use `value_counts()`

In [29]:
counts = dat.taster_name.value_counts()
type(counts)
counts

Roger Voss            25514
Michael Schachner     15134
Kerin O’Keefe         10776
Virginie Boone         9537
Paul Gregutt           9532
Matt Kettmann          6332
Joe Czerwinski         5147
Sean P. Sullivan       4966
Anna Lee C. Iijima     4415
Jim Gordon             4177
Anne Krebiehl MW       3685
Lauren Buzzeo          1835
Susan Kostrzewa        1085
Mike DeSimone           514
Jeff Jenssen            491
Alexander Peartree      415
Carrie Dykes            139
Fiona Adams              27
Christina Pickard         6
Name: taster_name, dtype: int64

### Q: Which tasters have 10,000 or more reviews?
>- Filtering results using `where()`
>- Remove results not meeting criteria with with `dropna()`

In [36]:
big_counts = counts.where(counts >= 10000).dropna()
#dropna drops all null value counts
big_counts

Roger Voss           25514.0
Michael Schachner    15134.0
Kerin O’Keefe        10776.0
Name: taster_name, dtype: float64

#### How many reviews did Roger Voss have?
>- Find the count for one particular reviewer using `loc`

In [39]:
big_counts.loc['Roger Voss']

25514.0

### Who are the top five wine tasters by number of occurrences?

In [40]:
counts[0:5]

Roger Voss           25514
Michael Schachner    15134
Kerin O’Keefe        10776
Virginie Boone        9537
Paul Gregutt          9532
Name: taster_name, dtype: int64

# Transforming data
>- Sometimes it is useful to standardize/normalize data
>- Standardizing data allows you to make comparisons regardless of the scale of the original data
>- We can transform data using some simple operations
>>- For more advanced transformations we can use `map()` and `apply()`

### Transforming the `points` column
>- In this example we will "remean" our points column to a mean of zero

In [43]:
dat['price_per_point'] = dat['price']/dat['points']

dat.head()

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery,price_per_point
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia,NaN
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos,0.172414
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm,0.160920
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian,0.149425
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks,0.747126

In [46]:
dat['points0'] = (dat.points - dat.points.mean()) / dat.points.std()
dat.points0.describe()

count    1.299710e+05
mean    -1.057361e-15
std      1.000000e+00
min     -2.778911e+00
25%     -8.050511e-01
50%     -1.470980e-01
75%      8.398317e-01
max      3.800621e+00
Name: points0, dtype: float64

In [48]:
points0 = (dat.points - dat.points.mean()) / dat.points.std()

##### Our new `points0` variable should have a mean of 0

### Now assign a new column name, `points0`, to the data frame and insert the `points0` values
>- We will do this two different ways

#### Method1: This way creates and inserts the new column at the end of the DataFrame

#### Method2: Using `insert()` allows us to specify the position of our new column
>- Insert general syntax and parameters: insert(insertion index, column name, values, allow duplicates)
>>- Insertion Index: where do you want your column in your DataFrame
>>- Column Name: the name of your new column
>>- Values: the values you want stored in your new column
>>- Allow Duplicates: Set to `True` if duplicate values are ok

In [49]:

dat = dat.drop(columns = ['points0'])
dat.insert(0, "points_0", points0, allow_duplicates = True )

dat.head()

,points_0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery,price_per_point
0,-0.476075,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia,NaN
1,-0.476075,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos,0.172414
2,-0.476075,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm,0.160920
3,-0.476075,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian,0.149425
4,-0.476075,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks,0.747126

### We can also concatenate fields and store that in a new column of our DataFrame
#### Task: Combine the country and province fields into one field separated with a ' - '
>- Insert the concatenated field into the wineReviews dataframe as 'countryProv'

In [50]:
dat['countryProv'] = dat['country'] + ' -' + dat['province']
dat.head()

,points_0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery,price_per_point,countryProv
0,-0.476075,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia,NaN,Italy -Sicily & Sardinia
1,-0.476075,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos,0.172414,Portugal -Douro
2,-0.476075,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm,0.160920,US -Oregon
3,-0.476075,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian,0.149425,US -Michigan
4,-0.476075,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks,0.747126,US -Oregon

In [52]:
dat['country']

0            Italy
1         Portugal
2               US
3               US
4               US
            ...
129966     Germany
129967          US
129968      France
129969      France
129970      France
Name: country, Length: 129971, dtype: object